<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sample.nativedriver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".SimpleActivity">
        </activity>
        <activity 
            android:name=".SubActivity">
        </activity>
        <activity 
            android:name=".SimpleListActivity" >
        </activity>
        <activity 
            android:name="sample.notstart.NotStartActivity" >
        </activity>
    </application>
	<instrumentation android:targetPackage="sample.nativedriver"
        android:name="com.google.android.testing.nativedriver.server.ServerInstrumentation" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

</manifest>